# AWS Credentials
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-southeast-1
S3_BUCKET=prismscales3

# Branding Lambda Configuration
BRANDING_LAMBDA_URL=https://udjzwvg22vnlb3asciolkawlvq0wvimn.lambda-url.ap-southeast-1.on.aws/

# App Configuration
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
